body {
  margin: 0;
  box-sizing: border-box;
  background-color: #eee;
}

.app {
  margin: 0 auto;
  width: 100%;
}

header {
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

input {
  width: 100%;
  height: 90%;
  border: none;
  font-style: italic;
}

input:focus {
  outline: none;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  border-bottom: 2px solid #ccc;
  background-color: #fff;
}

.action-section {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  z-index: 3;
  background-color: #fff;
}

.wrapper {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.button-active {
  border: 1px solid orange;
}